<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>
		com.OCWals.servlets.Connexion
	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>
		/co
	</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>
		com.OCWals.servlets.Test
	</servlet-class>
    <multipart-config>
      <location>C:\Users\736865\Desktop\Work\Java-JEE\test\FILES\TEMP</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>
		/bonjour
	</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Calculatrice</servlet-name>
    <servlet-class>
	 	com.OCWals.servlets.Calculatrice
	 </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculatrice</servlet-name>
    <url-pattern>
		/calc
	</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Session</servlet-name>
    <servlet-class>
  		com.OCWals.servlets.Session
  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session</servlet-name>
    <url-pattern>
		/session
	</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cookies</servlet-name>
    <servlet-class>
  		com.OCWals.servlets.Cookies
  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookies</servlet-name>
    <url-pattern>
		/cookies
	</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DAOTest</servlet-name>
    <servlet-class>
  		com.OCWals.servlets.DAOTest
  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DAOTest</servlet-name>
    <url-pattern>
		/dao
	</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>
  		com.OCWals.servlets.Accueil
  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>
		/
	</url-pattern>
  </servlet-mapping>
</web-app>